@import 'bootstrap';

body{
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgb(188, 164, 114);
}

a{
    text-decoration: none;
    color: brown;
}

a:hover{
    font-weight: bold;
    color: brown;
}

.btn-color{
    background-color: brown;
    color: white;
}
.btn-color:hover{
    background-color: white;
    color: brown;
}

li{
    list-style: none;
}

.text-color{
    color: brown;
}

header{
    background-image: url('https://wallpaperaccess.com/full/3876048.jpg');
    background-size: cover;
    min-height: 84vh;
}